.contentOrderData{
    display: flex;
}
.textOrderDataMenu-Setup{
    height: 40px;
}
.textOrderDataMenu-Setup p{
    font-weight: bold;
    margin-top: 0px !important;
}
.containerProductSample{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerProductSample p{
    width: 232px !important;
}
.containerName{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerName input{
    min-width: 450px !important;
}
.containerName p{
    width: 232px !important;
}
.containerOrderDataLongInputs{
    display: flex;
    flex-direction: column;
}
.containerFixedPrice{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfitPerSample{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerArtworksInputs{
    display: flex;
    flex-direction: column;
}
.containerArtworksInputs p{
    width: 230px !important;
}
.containerArtworksMinFree{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerArtworkCharge {
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerMinFree{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCommentOrderData{
    display: flex;
    margin-top: 20px;
}
.containerCommentOrderData p{
    margin-top: 0px !important;
}
.containerCommentOrderData textarea{
    height: 104px !important;
    width: 48.51% !important;
    min-width: 450px !important;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.containerArtworksProfit{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerArtworksComments{
    display: flex;
    margin-top: 20px;
}
.containerArtworksComments p{
    margin-top: 0px !important;
}
.containerArtworksComments textarea{
    height: 104px !important;
    width: 48.51% !important;
    min-width: 450px !important;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.containerCommonOrder{
    width: 100%;
    display: flex;
}
.containerCommonInputsOrderData{
    position: relative;
    height: 859px;
    width: 1208px;
    padding-left: 72px;
    display: flex;
    flex-direction: column;
    margin-top: 152px;
    border-bottom: 4px solid #038296;
    border-left: 4px solid #038296;
    font-size: 24px;
    padding-bottom: 36px;
    margin-bottom: 50px;
}
.containerCommonInputsOrderData input{
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    text-align: right;
    font-size: 24px;
    outline: none;
}
.textArtworks{
    font-weight: bold;
}
.containerCommonInputsOrderData p{
    width: 230px;
    margin-top: 10px;
}
.containerCommonInputsOrderData label{
    margin-left: 10px;
}
.containerOrderDataLongInputs input{
    height: 43px;
    width: 48.51%;
}
.containerOrderDataShortInputs input{
    height: 43px;
    width: 14.901%;
}
.containerOrderDataShortInputs p{
    width: 230px !important;
}
.containerArtworksInputs input{
    height: 43px;
    width: 14.901%;
}
.saveButtonOrderData{
    position: absolute;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.saveButtonOrderData button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 22px;
}
