.contentGeneralSetup{
    display: flex;
    width:571px;
}
.textGeneralSetup{
    max-height: 53px;
    max-width: 364px;
    margin-left: 45px;
}
.textGeneralSetup p{
    height: 100%;
    width: 100%;
    padding-top: 42px;
    font-size: 40px;
    font-weight: bold;
    color: #707070;
}
.containerGeneralSetupTextButtons{
    display: flex;
    flex-direction: column;
}
.containerGeneralSetupButtons{
    max-height: 424px;
    width: 292px;
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    margin-left: 35px;
}
.containerGeneralSetupButtons button{
    height: 48px;
    width: 212px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-top: 24px;
    outline: none;
    cursor: pointer;
    margin-left: 40px;
}
.GeneralSetupButtons{
    width: 280px;
    margin-top: 138px;
}
