.contentVariableData{
    width: 100%;
    display: flex;
}
.textVariableData{
    display: flex;
}
.textVariableData p{
    font-size: 24px;
    font-weight: bold;
}
.containerVariableDataLongInputs{
    display: flex;
    flex-direction: column;
}
.containerVariableDataLongInputs p{
    width: 218px;
    margin-top: 10px;
}
.containerVariableDataLongInputs input{
    height: 43px;
    width: 48.51%; 
    border: 1px solid black;
    border-radius: 8px;
}
.containerVariableDataLongInputs select{
    height: 43px;
    width: 53.08%;
    border: 1px solid black;
    border-radius: 8px;
}
.containerVariableDataShortInputs{
    display: flex;
    flex-direction: column;
}
.containerVariableDataShortInputs label{
    margin-left: 15px;
}
.containerVariableDataShortInputs p{
    width: 234px;
}
.containerVariableDataShortInputs input{
    height: 43px;
    width: 14.901%;
    border: 1px solid black;
    border-radius: 8px;
}
.containerVariableDatas{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerVariableDatas p{
    width: 234px !important;
}
.containerNameVariableData{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerNameVariableData input{
    min-width: 450px !important;
}
.containerNameVariableData p{
    width: 234px !important;
}
.containerCostVariableData{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerSetupChargeVariableData{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfitPerDataVariableData{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCommentsVariableData{
    display: flex;
    margin-top: 20px;
}
.containerCommentsVariableData p{
    margin-top: 0px;
}
.containerCommentsVariableData textarea{
    height: 104px;
    width: 48.51%;
    min-width: 450px !important;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.saveButtonVariableData{
    position: absolute;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.saveButtonVariableData button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
.containerCommonVariableData{
    width: 100%;
    display: flex;
}
.containerCommonVariableData select{
    font-size: 24px;
    text-align: right;
    opacity: 40%;
    outline: none;
}
.containerCommonVariableData input{
    font-size: 24px;
    text-align: right;
    opacity: 40%;
    outline: none;
}
.containerVarriableDataCommonInput{
    position: relative;
    height: 880px;
    width: 1208px !important;
    padding-left: 72px;
    display: flex;
    flex-direction: column;
    margin-top: 152px;
    border-bottom: 4px solid #038296;
    border-left: 4px solid #038296;
    font-size: 24px;
    margin-bottom: 50px;
}
