
.contentDashboard{
    display: flex;
    height: auto;
}
.containerDashboardButtons{
    max-height: 624px;
    max-width: 212px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.containerDashboardButtonText{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}
.Line{
    height: 801px;
    border-top: 4px solid #038296;
    border-right: 4px solid #038296;
    padding-right: 55px;
    padding-top: 12px;
}
.containerDashboardButtons button{
    height: 48px;
    width: 212px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-top: 24px;
    margin-left: 20px;
    outline: none;
    cursor: pointer;
}
#dashboard{
    background-color: #707070;
}
.textDashboard{
    height: 110px;
    width: 204px;
    margin-left: 23px;
    margin-top: 42px;
}
.textDashboard p{
    height: 100%;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: #707070;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) { 
    .containerDashboardButtonText{
        height: 700px;;
        display: flex;
        flex-direction: column;
        margin-left: 85px;
    }
    .containerDashboardButtons button{
        height: 41px;
        width: 160px;
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        margin-top: 15px;
        margin-left: 20px;
        outline: none;
    }
    .textDashboard{
        height: 80px;
        width: 204px;
        margin-left: 32px;
    }
    .textDashboard p{
        height: 50%;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        color: #707070;
        margin-top: 22px;
    }
}
