.contentCalculator{
    display: flex;
}
.containerCalculatorInputs{
    height: 780px;
    width: 1208px;
    position: relative;
    margin-top: 78px;
    font-size: 24px;
    border-left: 4px solid #038296;
    border-bottom: 4px solid #038296;
    padding-left: 72px;
}
.containerCalculatorInputs input{
    height: 43px;
    width: 48.51%;
    border: 1px solid black;
    border-radius: 8px;
    text-align: right;
    opacity: 40%;
    font-size: 24px;
    outline: none;
}
.containerLongInputsCalculator p{
    width: 235px;
}
.containerLongInputsCalculator{
    display: flex;
    flex-direction: column;
}
.containerShortInputsCalculator{
    display: flex;
    flex-direction: column;
}
.containerShortInputsCalculator p{
    width: 505px;
}
.containerShortInputsCalculator input{
    width: 26.159%;
}
.textDiscountRateCalculator{
    font-weight: bold;
}
.textDiscountRateCalculator p{
    margin-top: 0px;
}
.containerCustomersListCalculator{
    height: 43px;
    align-items: center;
    display: flex;
}
.containerCustomerCalculator{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerStartDateCalculator{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerQualificationCalculator{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerMonthlyAverageSalesCalculator{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerDiscountRate{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerInputButtonsCalculator{
    display: flex;
    flex-direction: column;
    right: 40px;
    top: 100px;
}
.containerCalculator{
    display: flex;
    width: 100%;
    margin-top: 74px;
}
.containerCustomersListCalculator button{
    position: relative;
    height: 36px;
    width: 140px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor:pointer;
    right: 1.2%;
} 
.containerShortInputsCalculator button{
    height: 36px;
    width: 140px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor:pointer;
    margin-left: 24px;
}
.containerCalculatorText p{
    font-size: 24px;
    font-family: Bold;
}
.containerButtonSaveCalculator{
    display: flex;
    position: absolute;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.containerButtonSaveCalculator button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
}