 .contentMaterial{
     width: 100%;
    display: flex;
 }
 
.textMenuSetupMaterialMenuSetup{
    font-weight: bold;
}
.textMenuSetupMaterialMenuSetup p{
    width: 350px !important;
    margin-top: 0px !important;
}
.containerMaterialMenuSetupLongInputs{
    display: flex;
    flex-direction: column;
}
.containerCommonMaterial{
    display: flex;
    width: 100%;
}
.containerMaterialMenuMaterial{
    width: 80%;
    display: flex;
    height: 43px;
    align-items: center;
}
.containerMaterialMenuMaterial p{
    width: 230px !important;
}
.containerNameMaterial{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.containerNameMaterial input{
    min-width: 450px;
}
.containerAdhesiveTypeSelectMaterial{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerAdhesiveTypeSelectMaterial p{
    width: 230px !important;
}
.containerAdhesiveTypeInputMaterial{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerAdhesiveTypeInputMaterial input{
    min-width: 450px;
}
.containerMaterialMenuSetupShortInputs{
    display: flex;
    flex-direction: column;
}
.containerMaterialMenuSetupShortInputs input{
    height: 43px;
    width: 14.901%;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
    opacity: 40%;
    text-align: right;
    font-size: 24px;
}
.containerMaterialMenuSetupShortInputs label{
    margin-left: 10px;
}
.containerMaterialCommonInputs{
    position: relative;
    height: 880px;
    width: 1208px;
    display: flex;
    flex-direction: column;
    margin-top: 152px;
    padding-left: 72px;
    border-bottom: 4px solid #038296;
    border-left: 4px solid #038296;
    font-size: 24px;
    margin-bottom: 50px;
}
.containerMaterialCommonInputs input{
    outline: none;
}
.containerMaterialCommonInputs p{
    width: 215px;
}
.containerMaterialMenuSetupLongInputs input{
    height: 43px;
    width: 48.51%;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    text-align: right;
    font-size: 24px;
}
.containerWidthMaterial{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerLengthMaterial{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerThicknessMaterial{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerWeightMaterial{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerWasteMaterial{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerPriceMaterial{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerInfoCommentsMaterial{
    display: flex;
    margin-top: 20px;
}
.containerInfoCommentsMaterial p{
    margin-top: 0px;
}
.containerInfoCommentsMaterial textarea{
    height: 104px;
    width: 48.51%;
    font-size: 24px;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
}
.cursorMoveTop{
    text-align: left !important;
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.saveButtonMenuSetupMaterial{
    position: absolute;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
} 
.saveButtonMenuSetupMaterial button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px){ 
    .containerMaterialCommonInputs{
        position: relative;
        height: 880px;
        width: 830px;
        display: flex;
        flex-direction: column;
        margin-top: 123px;
        padding-left: 32px;
    }
    .saveButtonMenuSetupMaterial button{
        height: 38px;
        width: 150px;
        color: white;
        font-size: 18px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        outline: none;
        cursor: pointer;
        margin-top: 23px;
        margin-left: 25%;
    }
    
}
