.contentSpotUvVarnish{
    width: 100%;
    display: flex;
}
.textSurfaceFinishing{
}
.textSurfaceFinishing p{
    font-size: 24px;
}
.containerSpotUVVarnishLongInputs{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.saveButtonMaterial{
    height: 42px;
    width: 187px;
}
.saveButtonMaterial button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
}
.containerCommentSurfaceFinishing{
    display: flex;
}
.containerCommonSpotUvVarnish{
    display: flex;
}
.containerSpotVarnishCommonInputs{
    display: flex;
    flex-direction: column;
}
