.contentUnit{
    width: 100%;
    display: flex;
}
.textUnit{
    margin-left: 620px;
    font-size: 24px;
    font-family: Bold;
}
.containerUnitTextCheckbox{
    position: relative;
    display: flex;
}
.containerUnitCheckboxText{
    height: 850px;
    width: 1208px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 152px;
    margin-bottom: 50px;
    border-left: 4px solid #038296;
    border-bottom: 4px solid #038296;
    padding-left: 55px;
}
.containerUnitCheckboxText p{
    margin-top: 0px;
    width: 370px;
    font-size: 24px;
    margin-left: 15px;
}
.containerUnitCheckboxText input{
    height: 32px;
    width: 32px;
    outline: none;
}
.containerUnitFirstColumnCheckbox{
    display: flex;
    flex-direction: column;
}
.containerUnitFirstColumnCheckbox input{
    height: 32px;
    width: 32px;
    margin-top: 20px;
}
.containerUnitSecondColumnCheckbox{
    display: flex;
    flex-direction: column;
}
.containerUnitSecondColumnCheckbox input{
    height: 32px;
    width: 32px;
    margin-top: 20px;
}
.containerUnitLastCheckbox{
    display: flex;
}
.containerUnitLastCheckbox input{
    height: 43px;
    width: 92px;
    text-align: right;
}
.containerUnitFirstColumnCheckboxText{
    display: flex;
}
.containerUnitFirstColumnText p{
    margin-top: 30px;
}
.containerUnitSecondColumnText p{
    margin-top: 30px;
}
.containerCommonUnit{
    width: 100%;
    display: flex;
}
.textUnits{
    font-size: 24px;
    font-weight: bold;
}
.containerLabelSize{
    display: flex;
}
.containerLabelSize input{
    padding-top: 20px;
}
.LabelSizemm{
    display: flex;
}
.LabelSizemm p{
    width: 120px !important;
}
.LabelSizeinch{
    display: flex;
}
.containerCenterToCenterSize{
    display: flex;
}
.containerCenterToCenterSize input{
    padding-top: 20px;
}
.CenterToCentermm{
    display: flex;
}
.CenterToCentermm p{
    width: 120px !important;
}
.CenterToCenterinch{
    display: flex;
}
.containerGapSize{
    display: flex;
}
.containerGapSize input{
    padding-top: 20px;
}
.GapSizemm{
    display: flex;
}
.GapSizemm p{
    width: 120px !important;
}
.GapSizeinch{
    display: flex;
}
.containerDieTickness{
    display: flex;
}
.containerDieTickness input{
    padding-top: 20px;
}
.DieTicknessmm{
    display: flex;
}
.DieTicknessmm p{
    width: 120px !important;
}
.DieTicknessmil{
    display: flex;
}
.containerRollLength{
    display: flex;
}
.containerRollLength input{
    padding-top: 20px;
}
.RollLengthmm{
    display: flex;
}
.RollLengthmm p{
    width: 120px !important;
}
.RollLengthft{
    display: flex;
}
.containerRollWidth{
    display: flex;
}
.containerRollWidth input{
    padding-top: 20px;
}
.RollWidthmm{
    display: flex;
}
.RollWidthmm p{
    width: 120px !important;
}
.RollWidthinch{
    display: flex;
}
.containerMaterialTickness{
    display: flex;
}
.containerMaterialTickness input{
    padding-top: 20px;
}
.MaterialTicknessmm{
    display: flex;
}
.MaterialTicknessmm p{
    width: 120px !important;
}
.MaterialTicknessmil{
    display: flex;
}
.containerMaterialPricinkper{
    display: flex;
}
.containerMaterialPricinkper input{
    padding-top: 20px;
}
.MaterialPricinkpersqm{
    display: flex;
}
.MaterialPricinkpersqm p{
    width: 120px !important;
}
.MaterialPricinkpermsi{
    display: flex;
}
.containerVarnishTickness{
    display: flex;
}
.containerVarnishTickness input{
    padding-top: 20px;
}
.VarnishTicknessmicron{
    display: flex;
}
.VarnishTicknessmicron p{
    width: 120px !important;
}
.VarnishTicknessmil{
    display: flex;
}
.containerLabelWeight{
    display: flex;
}
.containerLabelWeight input{
    padding-top: 20px;
}
.LabelWeightkg{
    display: flex;
}
.LabelWeightkg p{
    width: 120px !important;
}
.LabelWeightlb{
    display: flex;
}
.containerVariableDataPricingper{
    display: flex;
}
.containerVariableDataPricingper input{
    padding-top: 20px;
}
.VariableDataPricingpernumber{
    display: flex;
}
.VariableDataPricingpernumber p{
    width: 120px !important;
}
.VariableDataPricingpermsi{
    display: flex;
}
.containerLIIIII{
    display: flex;
}
.containerLIIIII input{
    padding-top: 20px;
}
.LIIIIIkg{
    display: flex;
}
.LIIIIIkg p{
    width: 120px !important;
}
.LIIIIIlb{
    display: flex;
}
.CurrencyUSD{
    display: flex;
}
.CurrencyUSD p{
    width: 120px;
    margin-left: 15px;
}
.CurrencyUSD input{
    height: 32px;
    width: 32px;
}
.CurrencyEuro{
    display: flex;
}
.CurrencyEuro p{
    width: 100px;
}
.CurrencyEuro input{
    height: 32px;
    width: 32px;
}
.CurrencyRate{
    display: flex;
    width: 100px;
}
.CurrencyRate input{
    display: flex;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-size: 24px;
    text-align-last: right;
}
.CurrencyName{
    display: flex;
    width: 100px;
    margin-left: 85px;
}
.CurrencyName input{
    display: flex;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-size: 24px;
    text-align-last: right;
}
