.contentTerminology{
    width: 100%;
    display: flex;
}
.containerCommonTermonology{
    width: 100%;
    display: flex;
}
.textTerminology{
    max-height: 53px;
    max-width: 204px;
    position: absolute;
    top: 42px;
    left: 330px;
    font-weight: bold;
}
.textTerminology p{
    height: 100%;
    width: 100%;
    font-size: 40px;
    font-family: 'Segoe UI';
    color: #707070;
}
.ss{
    height: 955px;
    display: flex;
    width: 1100px;
    border-bottom: 4px solid #038296;
    margin-bottom: 50px;
}
.containerTerminologyButtons{
    margin-top: 152px;
    height: 663px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    border-top: 4px solid #038296;
    border-right: 4px solid #038296;
    padding-top: 140px;
    padding-right:36px;
}
.containerTerminologyButtons button{
    height: 48px;
    width: 212px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-top: 24px;
    margin-left: 45px;
    outline: none;
    cursor: pointer;
}
.continerTerminologySelectInputs{
    width: 1208px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 72px;
    font-size: 24px;
    border-bottom: 4px solid #038296;
}
.continerTerminologySelectInputs input{
    outline: none;
}
.textLanguageTerminology{
    height: 80px;
    margin-top: 116px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI';
    color: #000000;
}
.containerCommonInputsTerminology{
    display: flex;
    flex-direction: column;
}
.containerCommonInputsTerminology input{
    opacity: 40%;
    text-align-last: right;
}
.labelsUsedIn{
    display: flex;
    height: 43px;
    align-items: center;
}
.labelsUsedIn p{
    width: 226px;
}
.containerLanguage{
    display: flex;
    font-size: 24px;
    font-family: Bold;
}
.dds{
    display: flex;
    flex-direction: column;
}
.containerLanguage p{
    padding-left: 150px;
    font-size: 24px;
    font-family: Bold;
}
.containerLanguage input{
    margin-top: 33px;
}
.containerDefault{
    display: flex;
    flex-direction: column;
}
.containerDefault p{
    width: 178px;
    font-size: 24px;
    margin-top: 20px;
}
.containerTerminologyTextInputs{
    display: flex;
    margin-top: 35px;
}
.containerLanguageInput{
    display: flex;
}
.containerLanguageInput input{
    height: 43px;
    width: 71.93%;
    margin-left: 48px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 24px;
    text-align: right;
}
.containerEnglish{
    display: flex;
    flex-direction: column;
}
.containerEnglish input{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    text-align: right;
}
.containerSpanish{
    width: 342px;
    display: flex;
    flex-direction: column;
}
.containerSpanish input{
    margin-left: 0px;
    margin-top: 24px;
}
.containerFrench{
    position: relative;
    right: 47px;
    width: 342px;
    display: flex;
    flex-direction: column;
}
.containerFrench input{
    margin-left: 0px;
    margin-top: 24px;
}
.saveButtonTerminology{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 42px;
    width: 187px;
    display: flex;
}
.saveButtonTerminology button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
.containerLanguage input{
    height: 24px;
    width: 24px;
    margin-top: 25px;
    margin-left: 13px;
}
#label{
    background-color: #707070;
}
.textDefault{
    font-weight: bold;
}
.containerLanguage{
    font-weight: bold;
}
