.contentDies{
    width: 100%;
    display: flex;
}
.textDies{
    font-weight: bold;
}
.textDies p{
    font-size: 24px;
}
.containerDiesLongInputs{
    width: 1208px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.containerDiesLongInputs input{
    height: 43px;
    width: 48.51%;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 24px;
    text-align: right;
    opacity: 40%;
    outline: none;
}
.containerShape{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerShape p{
    width: 230px !important;
}
.containerShapeName{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
} 
.containerShapeName p{
    width: 230px !important;
}
.containerDie{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerDie p{
    width: 230px !important;
}
.containerNameDies{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerNameDies p{
    width: 230px !important;
}
.containerDiesShortInputs{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.containerDiesShortInputs p{
    width: 275px !important;
}
.containerDiesShortInputs input{
    height: 43px;
    width: 12%;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 24px;
    text-align: right;
    opacity: 40%;
    outline: none;
}
.containerDiesShortInputs label{
    margin-left: 10px;
}
.containerHeight{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerWidthDies{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCornerRounding{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerNumberAcross{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerNumberAround{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCenterToCenterAcross{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCenterToCenterAround{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerThicknessDies{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerPrice{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerDate{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerDate input{
    width: 14.239% !important;
}
.containerDate button{
    height: 36px;
    width:140px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}
.containerCommentsDies{
    display: flex;
    margin-top: 20px;
}
.containerCommentsDies p{
    margin-top: 0px;
}
.containerCommentsDies textarea{
    height: 104px;
    width: 48.51%;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.containerGapAcross{
    margin-left: 8%;
    display: flex;
    height: 43px;
    align-items: center;
}
.containerGapAcross p{
    width: 140px !important;
}
.containerGapAcross input{
    width: 35.242%;
}
.containerGapAround{
    display: flex;
}
.saveButtonDies{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 42px;
    width: 187px;
}
.saveButtonDies button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
.containerCommonDies{
    width: 100%;
    display: flex;
}
.containerDiesCommonInputs{
    position: relative;
    height: 1160px;
    width: 1208px;
    padding-left: 72px;
    display: flex;
    flex-direction: column;
    margin-top: 152px;
    border-bottom: 4px solid #038296;
    border-left: 4px solid #038296;
    font-size: 24px;
    margin-bottom: 50px;
}
.containerDiesCommonInputs p{
    width: 215px;
}
