.contentCustomer{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: auto;
}
.containerLogoCustomer img{
    height: 182px;
    width: 153px;
}
.GrantAccessButton{
    position: absolute;
    display: flex;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.GrantAccessButton button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
}
.containerSellersPermitCustomers button{
    position: absolute;
    right: 10;
    height: 36px;
    width: 140px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-left: 18px;
    cursor: pointer;
} 
.containerCustomersCustomersButtons{
    position: relative;
    right: -4px;
    display: flex;
}
.containerCustomersCustomersButtons button{
    margin-top: 0px !important;
    margin-left: 14px !important;
}
.containerSellersPermitCustomersButton{
    margin-left: 10px;
    display: flex;
    align-items: center !important;
}
.containerSellersPermitCustomersButton button{
    margin-top: 5px;
}
.containerDiscountRateCustomers button{
    position: absolute;
    right: 1;
    height: 36px;
    width: 140px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-left: 18px;
    cursor: pointer;
}
.containerPaymentCustomers button{
    right: 0;
    height: 36px;
    width: 140px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    cursor: pointer;
    margin-left: 20px !important;
}
.containerLogoCustomers button{
    position: absolute;
    right: 1;
    height: 36px;
    width: 140px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-left: 18px;
    cursor: pointer;
}
.contentCustomer input{
    border: 1px solid black;
    border-radius: 8px;
}
.contentCustomer select{
    border: 1px solid black;
    border-radius: 8px;
}
 .customerFirstInputsLogo {
    display: flex;
    height: 182px;
    width: 153px;
    margin-left: 240px;
}
.customerFirstInputsLogo img {
    height: 100%;
    width: 100%;
}
.textCustomers{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-left: 72px;
}
.textCustomers p{
    margin-top: 0px;
}
.containerCommonCustomer{
    display: flex;
}
.containerCustomersCustomers{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 10px;
}
.containerCompanyNameCustomers{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 10px;
}
.cursorMove{
  padding: 0px 20px;
  box-sizing: border-box;
} 
.containerSellersPermitCustomers{
    position: relative;
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 10px;
}
.containerDiscountRateCustomers{
    position: relative;
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 10px;
}
.containerDefaultCustomers{
    display: flex;
    margin-top: 10px;
}
.containerPaymentCustomers{
    position: relative;
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 10px;
}
.containerLogoCustomers{
    position: relative;
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 10px;
}
.containerCustomersCategory{
    display: flex;
    flex-direction: column;
    margin-left: 72px;
}
.containerCustomersCategory button{
    outline: none;
}
.containerCustomersCategory input{
    width: 61%;
}
.containerCategoryCustomers{
    height: 43px;
    display: flex;
    align-items: center;
}
.containerCustomersCustomersButtons button{
    height: 27px;
    width: 27px;
    border: none;
    margin-left: 1%;
    margin-top: 20px;
    background-color: black;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-color: white;
    outline: none;
}
.containerCustomersCustomersButtons button img{
    height: 27px;
    width: 27px;
}
.containerAccountCustomers button{
    position: relative;
    height: 27px;
    width: 27px;
    border: none;
    margin-left: 18px;
    background-color: black;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-color: white;
    outline: none;
}
.containerAccountCustomers button img{
    height: 27px;
    width: 27px;
}
.containerCustomerCommonInputs{
    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 4px solid #038296;
    margin-top: 152px;
    max-width: 1280px;
    width: 100%;
    font-size: 24px;
    border-bottom: 4px solid #038296;
    margin-bottom: 50px;
    padding-bottom: 100px;
}
.containerCustomerCommonInputs p{
    min-width: 200px;
}
.containerCustomerCommonInputs input{
    height: 43px;
    width: 48.51%;
    min-width: 450px !important;
    min-width: 320px;
    outline: none;
    font-size: 24px;
    opacity: 40%; 
    text-align: right;
}
.containerAccountCustomersSecondInputs{
    height: 637px;
    width: 77%;
    display: flex;
    flex-direction: column;
    padding-left: 73px;
    padding-bottom: 20px;
    overflow-y: scroll;
}
.containerAccountCustomersSecondInputs input{
    width: 60.896% !important;
}
.containerAccountCustomersSecondInputs p{
    width: 200px;
}
.CustomerBottomLine{
    width: 1104px;
    border-top: 4px solid #038296;
}
.containerAccountCustomers{
    height: 43px;
    align-items: center;
    display: flex;
}
.containerAccountCustomersInput{
    position: relative;
    height: 43px !important;
    width: 60.896%;
    min-width: 340px;
}
.containerAccountCustomersInput input{
    width: 100% !important;
}
.containerAddressCustomers{
    margin-top: 10px;
    display: flex;
}
.containerEmptyCustomers{
    margin-top: 10px;
    display: flex;
}
.containerCityCustomers{
    margin-top: 10px;
    display: flex;
}
.containerZipCustomers{
    margin-top: 10px;
    display: flex;
}
.containerStateCustomers{
    margin-top: 10px;
    display: flex;
}
.containerContactPersonCustomers{
    margin-top: 10px;
    display: flex;
}
.containerPhoneCustomers{
    margin-top: 10px;
    display: flex;
}
.containerEmailCustomers{
    margin-top: 10px;
    display: flex;
}
.user{
    width: auto;
    display: flex;
}
.css-2b097c-container{
    width: 100% !important;
}
.css-2b097c-container .css-yk16xz-control{
    width: 100% !important;
    border: 1px solid black;
    border-radius: 8px;
    min-width: 320px;
    cursor: pointer;
}
.containerSellersPermitInputButton{
    width: 60%;
}
.containerSellersPermitInput{
    position: relative;
    width: 48.51%;
    min-width: 450px !important;
    display: flex;
}
.containerButtonSubmit{
    position: relative;
}
.containerSellersPermitInputButton input{
    width: 81.128%;
}
@media screen and (min-width: 1024px) and (max-width: 1440px) { 
    .containerCustomerCommonInputs{
        position: relative;
        display: flex;
        flex-direction: column;
        border-left: 4px solid #038296;
        margin-top: 122px;
        width: 100%;
        font-size: 18px;
        border-bottom: 4px solid #038296;
        margin-bottom: 50px;
    }
    .containerCustomersCategory{
        display: flex;
        flex-direction: column;
        margin-left: 32px;
    }
    .textCustomers{
        display: flex;
        font-size: 18px;
        font-weight: bold;
        margin-left: 32px;
    }
    .containerAccountCustomersSecondInputs{ 
        height: 540px !important;
        width: 93%;
        padding-left: 32px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
    .containerSellersPermitCustomers button{
        height: 28px;
        width: 100px;
        color: white;
        font-size: 15px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        margin-top: 5px;
        margin-left: 5px;
    } 
    .GrantAccessButton button{
        height: 38px;
        width: 150px;
        color: white;
        font-size: 18px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        outline: none;
        margin-top: 23px;
        margin-left: 30%;
        cursor: pointer;
    }
    .containerDiscountRateCustomers button{
        height: 28px;
        width: 100px;
        color: white;
        font-size: 15px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        margin-top: 5px;
        margin-left: 5px;
    }
    .containerPaymentCustomers button{
        position: relative;
        height: 28px;
        width: 100px;
        color: white;
        font-size: 15px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        margin-left: 5px !important;
        margin-top: 5px;
    }
    .containerLogoCustomers button{
        height: 28px;
        width: 100px;
        color: white;
        font-size: 15px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        margin-top: 5px;
        margin-left: 5px;
    }
    .containerCustomersCustomersButtons button{
        height: 19px;
        width: 19px;
        border: none;
        margin-left: 10px !important;
        margin-top: 20px;
        background-color: black;
        outline: none;
        cursor: pointer;
        padding: 0;
        background-color: white;
        outline: none;
    }
    .containerCustomersCustomersButtons{
        position: relative;
        display: flex;
        margin-left: 0px;
    }
}
@media screen and (min-width: 1230px) and (max-width: 1440px) { 
    .containerAccountCustomersSecondInputs{ 
        height: 540px !important;
        padding-left: 32px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
}
