.contentUser{
    display: flex;
    height: auto;
}
.containerUserTextButtons{
    margin-top: 7px;
    margin-left: 35px;
}
.containerUsersButtons{
    max-height: 624px;
    max-width: 212px;
    display: flex;
    flex-direction: column;
    margin-top: 138px;
    margin-left: 30px;
}
.containerUsersButtons button{
    height: 48px;
    width: 212px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-top: 24px;
    outline: none;
    cursor: pointer;
}
.buttonBackUser{
    max-height: 48px;
    max-width: 190px;
    margin-left: 50px;
    margin-top: 26px;
}
.textUser{
    height: 77px;
    width: 254px;
    margin-left: 70px;
    padding-top: 35px;
}
.textUser p{
    height: 100%;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: #707070;
}
.lineUser{
    height: 802px;
    border-top: 4px solid #038296;
    padding-right: 35px;
    margin-top: 33px;
}
@media screen and (min-width: 1024px) and (max-width: 1440px) { 
    .containerUsersButtons{
        max-height: 624px;
        max-width: 180px;
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-left: 10px;
    }
    .containerUsersButtons button{
        height: 38px;
        width: 150px;
        color: white;
        font-size: 18px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        margin-top: 24px;
        outline: none;
    }
    .lineUser{
        height: 402px;
        width: 200px;
        border-top: 4px solid #038296;
        padding-right: 0px;
        margin-top: 33px;
    }
    .containerUserTextButtons{
        width: 200px;
        margin-left: 59px;
    }
    .textUser{
        height: 47px;
        width: 254px;
        margin-left: 40px;
    }
    .textUser p{
        height: 100%;
        width: 100%;
        font-size: 28px;
        font-weight: bold;
        color: #707070;
        margin-top: 24px;
    }
    .containerTerminologyButtons{
        margin-top: 122px !important;
        padding-top: 120px !important;
    }
    .containerTerminologyButtons button{
        height: 41px !important;
        width: 160px !important;
        font-size: 18px !important;
    }
    .textTerminology{
        left: 250px !important;
    }
    .textTerminology p{
        font-size: 28px !important;
    }
    .saveButtonTerminology button{
        height: 38px !important;
        width: 150px !important;
        margin-left: 30% !important;
        margin-top: 24px !important;
    }
    .continerTerminologySelectInputs{
        width: 850px !important;
        padding-left: 33px !important;
        padding-bottom: 50px;
    }
    .continerTerminologySelectInputs p{
        width: 50px !important;
        font-size: 18px !important;
    }
    .containerSpanish{
        width: 250px !important;
    }
    .containerEnglish{
        width: 250px !important;
    }
    .containerFrench{
        width: 250px !important;
    }
    .containerLanguage p{
        padding-left: 100px !important;
    }
    .containerLanguage input{
        margin-top: 16px !important;
    }
    .labelsUsedIn p{
        width: 150px !important;
    }
    .containerDefault p{
        margin-top: 24px !important;
    }
    .textDefault{
        margin-top: 18px !important;
    }
    .textLocation{
        margin-top: 22px;
    }
    .containerInputCSRs{
        margin-top: 122px !important;
        width: 910px !important;
        margin-bottom: 50px;
    }
    .containerButtonSaveLocation button{
        height: 38px !important;
        width: 150px !important;
        font-size: 18px !important;
        margin-left: 30%;
    }
    .containerCommonProductInputs{
        padding-left: 32px !important;
    }
    .buttonBrowseLabelSpecification button{
        height: 28px !important;
        width: 100px !important;
        font-size: 15px !important;
    }
    .containerbuttonBrowseLabelOptions button{
        height: 28px !important;
        width: 100px !important;
        font-size: 15px !important;
    }
    .containerbuttonBrowsePicture button{
        height: 28px !important;
        width: 100px !important;
        font-size: 15px !important;
    }
    .containerbuttonBrowseLabelQuantities button{
        height: 28px !important;
        width: 100px !important;
        font-size: 15px !important;
    }
    .containerCommonProductInputs{
        width: 810px !important;
    }
    .containerCommonProductInputs p{
        font-size: 18px !important;
    }
    .containerbuttonSaveProducts button{
        height: 38px !important;
        width: 150px !important;
        font-size: 18px !important;
        margin-left: 30%;
        margin-top: 23px !important;
    }
    .containerMaxArtwork p{
        width: 130px !important;
        margin-top: 30px;
    }
    .containerArtworkDefault p{
        width: 70px !important;
        margin-left: 20px !important;
    }
    .containerMaterialMenuSetupLongInputs p{
        font-size: 18px !important;
    }
    .containerMaterialMenuSetupShortInputs p{
        font-size: 18px !important;
    }
    .containerCommonColorInputs{
        margin-top: 123px !important;
        padding-left: 32px !important;
        font-size: 18px !important;
    }
    .containerCommonColorInputs p{
        width: 200px !important;
    }
    .containerWhiteAverageUsage p{
        width: 150px !important;
        margin-left: 60px;
    }
    .GeneralSetupButtons{
        margin-top: 93px !important;
    }
    .GeneralSetupButtons button{
        height: 41px !important;
        width: 150px !important;
        font-size: 18px !important;
    }
    .containerGeneralSetupButtons{
        width: 273px !important;
    }
    .containerUtilitiesInputs{
        padding-left: 32px !important;
    }
    .containerUtilitiesInputs p{
        font-size: 18px !important;
    }
    .containerProfabilityChartInputs{
        padding-left: 32px !important;
    }
    .containerProfabilityChartInputs p{
        font-size: 18px !important;
    }
    .containerInvestmentInputs p{
        width: 440px !important;
    }
    .containerRoiChartInputs p{
        width: 440px !important;
    }
    .containerProfileSetupCommonInputs{
        padding-left: 17px !important;
    }
    .containerProfileSetupCommonInputs p{
        font-size: 18px !important;
    }
    .containerProfileSetupLogo button{
        height: 28px !important;
        width: 100px !important;
        font-size: 18px !important;
    }
    .containerDiesCommonInputs{
        margin-top: 123px !important;
        padding-left: 32px !important;
    }
    .containerDiesCommonInputs p{
        font-size: 18px !important;
    }
    .containerMaterialCommonInputs p{
        font-size: 18px !important;
    }
    .containerVarriableDataCommonInput{
        margin-top: 122px !important;
        padding-left: 32px !important;
    }
    .containerVarriableDataCommonInput p{
        font-size: 18px !important;
    }
    .textLocation{
        width: 178px !important;
    }
    .textProduct {
        margin-top: 22px !important;
        margin-left: 59px !important;
    }
    .textProduct p {
        margin-top: 42px !important;
        font-size: 30px !important;
    } 
    .containerCommonProductInputs{
        margin-top: 122px !important;
    }
    .containerCommonMenuSetup{
        margin-left: 59px !important;
    }
    .containerMaterialSetupButtons{
        margin-top: 69px !important;
    }
    .textMenuSetup p{
        margin-top: 23px !important;
        font-size: 30px !important;
    }
    .containerMaterialCommonInputs{
        margin-top: 122px !important;
    }
    .containerCommonColorInputs{
    margin-top: 122px !important;
    }
    .containerDiesCommonInputs{
        margin-top: 122px !important;
    }
    .containerRollParameterCommonInputs{
        margin-top: 122px !important;
    }
}
