.buttonBack{
    display: flex;
    max-height: 48px;
    width: 100%;
    margin-top: 25px;
    margin-left: 63px;
}
.buttonBack button{
    height: 48px;
    width: 190px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
}
@media screen and (min-width: 1024px) and (max-width: 1440px) { 
    .buttonBack{
        display: flex;
        margin-top: 25px;
        margin-left: 24px;
    }
    .buttonBack button{
        height: 38px;
        width: 150px;
        color: white;
        font-size: 18px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        outline: none;
    }
}
