.containerLogo{
    max-height: 228px;
    max-width: 250px;
    padding-top: 65px;
    padding-left: 64px;
}
.containerLogo img{
    height: 228px;
    width: 199px;
    min-width: 199px;
}
.contentLogo{
    width: 100%
}

@media screen and (min-width: 1024px) and (max-width: 1440px) { 
    .containerLogo{
        max-height: 200px;
        max-width: 140px;
        padding-top: 45px;
        padding-left: 8px;
    }
    .containerLogo img{
        height: 200px;
        width: 140px;
    }
}