.contentUtilities{
    display: flex;
}
.textUtilities{

}
.textUtilities p{
    margin-top: 0px;
    font-size: 24px;
    font-weight: bold;
}
.containerUtilitiesInputs{
    position: relative;
    width: 1208px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 155px;
    border-left: 4px solid #038296;
    border-bottom: 4px solid #038296;
    padding-left: 72px;
    padding-bottom: 290px;
    margin-bottom: 50px;
}
.containerUtilitiesInputs input{
    height: 43px;
    width: 20.365%;
    margin-left: 55px;
    text-align: right;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-size: 24px;
    outline: none;
}
.containerUtilitiesInputs p{
    width: 180px;
}
.containerUtilitiesInputs label{
    margin-left: 15px;
}
.containerSalariesUtilities{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerSalariesUtilities input{
    border: 1px solid black;
    border-radius: 8px;
}
.containerPayrolUtilities{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerPayrolUtilities  input{
    border: 1px solid black;
    border-radius: 8px;
}
.containerFacilityRentUtilities{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerFacilityRentUtilities  input{
    border: 1px solid black;
    border-radius: 8px;
}
.containerCommunicationUtilities{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCommunicationUtilities  input{
    border: 1px solid black;
    border-radius: 8px;
}
.containerElectricityUtilities{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerElectricityUtilities  input{
    border: 1px solid black;
    border-radius: 8px;
}
.containerOtherUtilities{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerOtherUtilities  input{
    border: 1px solid black;
    border-radius: 8px;
}
.containerButtonSaveUtilities{
    position: absolute;
    display: flex;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.containerButtonSaveUtilities button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
