.contentFoilStamping{
    display: flex;
}
.textSurfaceFinishing{
    font-weight: bold;
}
.textSurfaceFinishing p{
    font-size: 24px;
}
.containerFoilStampingLongInputs{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.containerFoilStampingLongInputs input{
    height: 43px;
    width: 586px;
    border: 1px solid black;
    border-radius: 8px;
}
.containerFoilStampingLongInputs select{
    height: 43px;
    width: 586px;
    border: 1px solid black;
    border-radius: 8px;
}
.containerFoilStampingShortInputs{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.saveButtonMaterial{
    height: 42px;
    width: 187px;
    position: absolute;
    margin-top: 700px;
    margin-left: 1590px;
}
.saveButtonMaterial button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
}
