.contentProductionSets{
    width: 100%;
    display: flex;
}
.textProductionSets p{
    margin-top: 0px;
    font-size: 24px;
    font-weight: bold;
}
.containerProductionSetsInputs{
    position: relative;
    width: 1208px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 155px;
    border-left: 4px solid #038296;
    border-bottom: 4px solid #038296;
    padding-left: 72px;
    padding-bottom: 290px;
    margin-bottom: 50px;
}
.containerProductionSetsInputs input{
    height: 43px;
    width: 20.365%;
    text-align: right;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 24px;
    opacity: 40%;
    outline: none;
}
.containerProductionSetsInputs p{
    width: 520px;
}
.productionSetsTextWidth{
    width: 35% !important;
}
.containerQuantifyInputsets{
    width: auto;
    display: flex;
}
.containerQuantityProduction {
    display: flex;
    height: 43px;
    align-items: center;
}
.containerMaximumProductionLoadInputPercent{
    display: flex;
}
.containerMaximumProductionLoadInputPercent input{
    width: 100%;
}
.containerMaximumPrintableWidthInputmm{
    display: flex;
}
.containerMaximumPrintableWidthInputmm input{
    width: 100%;
}
.containerMaximumPrintRepeatInputmm{
    display: flex;
}
.containerMaximumPrintRepeatInputmm input{
    width: 100%;
}
.containerInkWasteInputliters{
    display: flex;
}
.containerInkWasteInputliters input{
    width: 100%;
}
.containerProductionSpeenInputft{
    display: flex;
}
.containerProductionSpeenInputft input{
    width: 100%;
}
.containerProductionSpeedWInputft{
    display: flex;
}
.containerProductionSpeedWInputft input{
    width: 100%;
}
.containerMaximumProductionLoad{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerMaximumPrintWidth{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerMaximumPrintRepeat{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerInkWaste{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProductionSpeed{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProductionSpeedW{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProductionSetupTime{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProductionSetsInputs label{
    margin-left: 20px;
    display: flex;
}
.containerProductionSetupTime input{
    height: 43px;
    width: 92px;
    margin-left: 25px;
}
.containerProductionSetupTimeInputmin{
    display: flex;
}
.containerScolor{
    width: 30%;
    display: flex;
    height: 43px;
    align-items: center;
    margin-left: 100px;
}
.containerScolor p{
    width: 20px !important;
}
.containerFcolor{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerFcolor p{
    width: 20px !important;
}
.containerFcolorInputmin{
    display: flex;
}
.containerButtonSaveSets{
    position: absolute;
    display: flex;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.containerButtonSaveSets button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
