.contentCSRs{
    display: flex;
    width: auto;
}
.textServiceRepresentatives{
    margin-top: 100px;
    margin-left: 65px;
    font-size: 24px;
    font-family: Bold;
}
.containerCSRsButtons button{
    height: 48px;
    width: 212px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-top: 24px;
}
.buttonBackCSRs{
    max-height: 48px;
    max-width: 190px;
    margin-left: 72px;
    margin-top: 44px;
}
.saveButtonCSRs button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
}
.containerCommonCSRs{
    width: 100%;
    display: flex;
}
.containerCSRS{
    display: flex;
}
.containerInputCSRs{
    position: relative;
    height: 780px;
    width: 1208px;
    display: flex;
    flex-direction: column;
    margin-top: 152px;
    padding-left: 72px;
    border-left: 4px solid #038296;
    border-bottom: 4px solid #038296;
    font-size: 24px;
}
.containerInputCSRs input{
    height: 43px;
    width: 48.676%;
    min-width: 450px !important;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
    opacity: 40%;
    font-size: 24px;
    text-align: right;
}
.containerCityAdministrators{
    height: 43px;
    align-items: center;
    display: flex;
}
.containerButtonSaveCSRs{
    display: flex;
    position: absolute;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.containerButtonSaveCSRs button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    margin-top: 20px;
    cursor: pointer;
}
@media  screen and (max-width: 1400px) and (min-width: 1024px) {
    .containerInputCSRs{
        margin-top: 122px;
        padding-left: 47px;
    }
    .containerInputCSRs p{
        font-size: 18px !important;
        width: 100px !important;
    }
    .textAdministrator p{
        width: 400px !important;
    }
    .containerButtonSaveCSRs{
        display: flex;
        position: absolute;
        height: 42px;
        width: 187px;
        bottom: 0;
        right: 0;
    }
    .containerButtonSaveCSRs button{
        height: 38px;
        width: 150px;
        color: white;
        font-size: 18px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        outline: none;
        margin-top: 23px; 
        margin-left: 30%;
        cursor: pointer; 
    }
    .containerProfileSetupCommonInputs{
        margin-top: 122px;
    }
    .containerUnitCheckboxText{
        width: 880px !important;
        margin-top: 122px !important;
        padding-left: 22px !important;
    }
    .containerUnitCheckboxText p{
        font-size: 18px !important;
        width: 200px !important; 
    }
    .containerUnitLastCheckbox p{
        width: 200px !important;
    }
    .CurrencyUSD p{
        width: 121px !important;
    }
    .CurrencyEuro p{
        width: 60px !important;
    }
    .CurrencyName{
        margin-left: 60px !important;
    }
    .containerCommonInputsOrderData{
        width: 830px !important; 
        margin-top: 122px !important;
        padding-left: 32px !important;
    }
    .containerCommonInputsOrderData p{
        font-size: 18px !important;
    }
}