.contentProfitability{
    display: flex;
}
.containerProfabilityChartInputs{
    position: relative;
    width: 1208px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 154px;
    border-left: 4px solid #038296;
    border-bottom: 4px solid #038296;
    padding-left: 72px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.containerProfabilityChartInputs input{
    height: 43px;
    width: 20.365%;
    text-align: right;
    opacity: 40%;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 24px;
    outline: none;
}
.profabilityChartSecondInputs{
    margin-left: 32px;
    padding: 0px 20px;
    box-sizing: border-box;
}
.textProfabilityChart{
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}
.textProfabilityChart p{
    margin: 0px;
}
.containerShortRun{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerShortRun p{
    width: 138px;
}
.containerShortRunFirstInput{
    width: 20.365%;
    margin-left: 98px;
}
.containerShortRunFirstInput input{
    width: 100%;
}
.containerShortRun input{
    border: 1px solid black;
    border-radius: 8px;
}
.containerShortRun label{
    margin-left: 16px;
}
.containerS-MRun{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerS-MRun p{
    width: 125px;
}
.containerS-MRunFirstInput{
    width: 20.365%;
    margin-left: 111px;
}
.containerS-MRunFirstInput input{
    width: 100%;
}
.containerS-MRun label{
    margin-left: 16px;
}
.containerM-LRunProfability{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerM-LRunProfability p{
    width: 125px;
}
.containerM-LRunFirstInput{
    width: 20.365%;
    margin-left: 112px;
}
.containerM-LRunFirstInput input{
    width: 100%;
}
.containerM-LRunProfability label{
    margin-left: 16px;
}
.containerLongRunProfability{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerLongRunProfability p{
    width: 135px;
}
.containerLongRunFirstInput{
    width: 20.365%;
    margin-left: 102px;
}
.containerLongRunFirstInput input{
    width: 100%;
}
.containerLongRunProfability label{
    margin-left: 16px;
}
.textInvestment{
    font-size: 24px;
    font-weight: bold;
}
.containerInvestmentInputs{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.containerInvestmentInputs p{
    width: 513px;
}
.containerLeasingMonthlyPayments{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerLeasingMonthlyPayments label{
    margin-left: 16px;
}
.containerCashInvestment{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCashInvestment p{
    margin-top: 10px;
}
.containerCashInvestment label{
    margin-left: 16px;
}
.containerInventoryProfability{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerInventoryProfability label{
    margin-left: 16px;
}
.textRoiChart{
    font-size: 24px;
    font-weight: bold;
}
.containerRoiChartInputs{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding-bottom: 50px;
}
.containerRoiChartInputs p{
    width: 513px;
}
.containerFirstMonthRevenue{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerFirstMonthRevenue label{
    margin-left: 16px;
}
.containerAnnualProjectedRevenue{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerAnnualProjectedRevenue label{
    margin-left: 16px;
}
.containerAverageMonthlyPotential{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerAverageMonthlyPotential label{
    margin-left: 16px;
}
.saveButtonProfability{
    height: 42px;
    width: 187px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.saveButtonProfability button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
