.contentMenuSetup{
    display: flex;
}
.containerCommonMenuSetup{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}
.textMenuSetup{
    max-height: 53px;
    max-width: 264px;
    padding-left: 30px;
}
.textMenuSetup p{
    height: 100%;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: #707070;
    padding-top: 42px;
}
.containerMaterialSetupButtons{
    height: 738px;
    width: 212px;
    display: flex;
    flex-direction: column;
    margin-top: 99px;
    padding-top: 140px;
    padding-right: 81px;
    border-top: 4px solid #038296;
}
.containerMaterialSetupButtons button{
    height: 48px;
    width: 212px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-top: 24px;
    margin-left: 10px;
    outline: none;
    margin-left: 46px;
    cursor: pointer;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) { 
    .textMenuSetup{
        max-height: 53px;
        max-width: 264px;
        padding-left: 30px;
    }
    .textMenuSetup p{
        height: 100%;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        color: #707070;
        padding-top: 42px;
    }
    .containerMaterialSetupButtons{
        height: 738px;
        width: 180px;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        padding-top: 120px;
        padding-right: 81px;
        border-top: 4px solid #038296;
    }
    .containerMaterialSetupButtons button{
        height: 38px;
        width: 150px;
        color: white;
        font-size: 18px;
        text-decoration: none;
        font-family: Regular;
        border: 1px solid #707070;
        border-radius: 28px;
        background-color: #038296;
        text-align: center;
        margin-top: 23px;
        margin-left: 10px;
        outline: none;
        margin-left: 46px;
        cursor: pointer;
    }
} 
