.contentLocation{
    display: flex;
    height: auto;
    width: 100%;
}
.containerCommonLocation{
    display: flex;
    width: 100%;
    margin-left: 35px;
}
.textLocation{
    height: 100px;
    width: 267px;
    display: flex;
    border-bottom: 4px solid #038296;
    margin-top: 52px;
}
.textLocation p{
    font-size: 40px;
    font-weight: bold;
    color: #707070;
    margin-left: 45px;
}
.containerLocationsInputs{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    border-left: 4px solid #038296;
    border-bottom: 4px solid #038296;
    padding-left: 72px;
    padding-bottom: 90px;
    width: 1208px;
    min-width: 400px;
    margin-top: 152px;
}
.containerhorizontalLine{
    width: 277px;
    max-width: 284px;
    height: 0px;
    display: flex;
    margin-top: 78px;
    border-top: 4px solid #038296;
}
.containerLocationsInputs input{
    height: 43px;
    width: 48.51%;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: #000000;
    opacity: 40%;
    font-size: 24px;
    text-align: right;
    margin-left: 0.4%;
    outline: none;
}
.containerLocationsInputs p{
    width: 230px;
} 
.MuiInputBase-root.MuiInput-root.MuiInput-underline{
    height: 43px;
    width: 48.676%;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
}
.containerCustomerLocation{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerCustomerLocation p{
    width: 235px !important;
}
.MuiInput-underline:before{
    display: none !important;
}
.MuiInput-underline:after{
    display: none !important;
} 
.MuiNativeSelect-root.MuiNativeSelect-select.MuiInputBase-input.MuiInput-input{
    font-size: 24px !important;
    text-align-last: right !important;
    padding-right: 20px;
}
.MuiNativeSelect-select:not([multiple]) option{
    background-color:  white;
    text-align-last: left !important;
    border: 1px solid black !important;
    border-radius: 8px !important;
}
.MuiNativeSelect-select:not([multiple]) optgroup{
    background-color:  white;
    text-align-last: left !important;
    border: 1px solid black !important;
    border-radius: 8px !important;
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline.Mui-focused{
    border: 1px solid black !important;
    border-radius: 8px !important;
}
.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded{
    border: 1px solid black;
    top: auto !important;
    border-radius: 8px;
}
.MuiPopover-paper{
    position: relative !important;

}
.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button{
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-size: 24px;
    justify-content: right !important;
    text-align: right !important;
}
.MuiTouchRipple-root{
    text-align: right !important;
}
.css-2b097c-container{
    height: 43px !important;
}
.css-yk16xz-control{
    height: 43px;
    opacity: 40%;
}
.css-b8ldur-Input-input{
    caret-color: transparent !important;
}
.form-control{
    height: 43px !important;
    width: 586px;
  }
  .form-control.option{
    border: 1px solid black;
  }
.react-select-2-input{
    caret-color: transparent !important;
}
.css-1hwfws3{
    height: 100%;
    cursor: pointer;
    font-size: 24px;
}
#react-select-2-input{
    cursor: pointer;
    caret-color: transparent;
}
#react-select-3-input{
    cursor: pointer;
}
.css-1n7v3ny{
    position: absolute !important;
    left: 50px !important;
}
.react-select-22-input{
    margin-left: 0 !important;
}
.css-1n7v3ny-option{
    height: 43px;
    margin-top: 2px;
    opacity: 40%;
    background-color: #707070 !important; 
    color: black !important; 
    cursor: pointer !important;
    z-index: 100 !important;
    border: 1px solid black;
    border-radius: 8px;
    cursor: default;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    transform: none !important;
    position: relative !important;
} 
.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded{
    margin-top: 51px;
    position: relative;
    display: inline-block;
}
.bb{
    height: 45px;
    width: 800px;
}
.css-1pahdxg-control{
    outline: none !important;
    resize: inherit !important; 
    display: none;
}
.css-1wa3eu0-placeholder{
    position: relative;
    right: 5px;
}
.css-4ljt47-MenuList{
    position: relative !important;
    text-align: right;
    border-radius: 8px !important;
    z-index: 100 !important;
    background: transparent;
}  
/* .MuiInputBase-root.MuiInput-root.MuiInput-underline{
    width: 48.51% !important;
} */
.css-1hwfws3{
    outline: none !important;
    max-width: 580px !important;
}
.css-9gakcf-option{
    height: 43px;
    margin-top: 2px;
    opacity: 40%;
    background-color: #707070 !important; 
    color: black !important; 
    border: 1px solid black;
    border-radius: 8px;
    cursor: default;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
} 
.css-1okebmr-indicatorSeparator{
    display: none;
}   
.locationbeforeInputsText{
    height: 38px;
    width: 250px;
}
.containerLocationsLocation{
    height: 43px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.containerLocationsLocation p{
    width: 235px !important;
}
.containerAddressLocation{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerCityLocation{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerCityLocation input{
    display: flex;
}
.containerStateLocation{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerEmptyLocation{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerContactPersonLocation{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerPhoneLocation{
    height: 43px;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.containerEmailLocation{
    height: 50px;
    display: flex;
    align-items: center !important;
    margin-top: 20px;
}
.containerButtonSaveLocation{
    position: absolute;
    display: flex;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.containerButtonSaveLocation button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 23px;
}
.containerLogoBack{
    display: flex;
    flex-direction: column;
}
