.contentProfileSetup{
    display: flex;
}
.textProfile-Setup{
    max-height: 53px;
    max-width: 304px;
}
.textProfile-Setup p{
    height: 100%;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: #707070;
    padding-top: 35px;
    margin-left: 40px;
}
.textCompanyProfileSetup{
    font-size: 24px;
    font-weight: bold;
}
.textCompanyProfileSetup p{
    margin-top: 0px;
}
.containerProfileSetupButtons{
    height: 824px;
    width: 252px;
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    padding-top: 140px;
    padding-left: 50px;
    border-top: 4px solid #038296;
}
.containerProfileSetupButtons hr{
    width: 114px;
    border: 1px solid white;
}
.Unit:visited{
    background-color: red !important;
}
.containerProfileSetupButtons button{
    height: 48px;
    width: 212px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-top: 24px;
    outline:none;
    cursor: pointer;
}
.profileSetupFirstInputsText{
    display: flex;
    flex-direction: column;
}
.profileSetupFirstInputs{
    display: flex;
    flex-direction: column;
}
.profileSetupFirstInputs input{
    height: 43px;
    width: 48.51%;
    margin-top: 20px;
    outline: none;
}
.containerProfileSetupLogo button{
    height: 36px;
    width: 140px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
}
.profileSetupSecondInputs{
    display: flex;
    flex-direction: column;
}
.profileSetupSecondInputs input{
    height: 43px;
    width: 586px;
    margin-top: 20px;
    outline: none;
}
.saveButtonProfileSetup{
    position: absolute;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.saveButtonProfileSetup button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
.profileSetupFirstInputsLogo img{
    margin-left: 235px;
}
.containerCommonProfileSetup{
    width: 100%;
    display: flex;
}
.containerProfileSetupBranchInputs{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.scrollbar{
    width: 82.3%;
    overflow-y: auto;
}
.scrollbar input{
    width: 60.154% !important;
}
#style-1{
    position: relative;
}
#style-1::-webkit-scrollbar{
    border: 1px solid #707070;
    width: 20px;
} 
#style-1::-webkit-scrollbar-thumb{
    background-color: #cac7c7 !important;
}  
#style-1::-webkit-scrollbar-button:single-button{
    display: block;
    border-style: solid;
    height: 11px;
    width: 10px !important;
}  
#style-1::-webkit-scrollbar-button:single-button:vertical:decrement {
    width: 5px;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent #707070 transparent;
  }
 #style-1::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 12px 10px 0 10px;
    border-color: #707070 transparent transparent transparent;
}
.containerProfileSetupBranch{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerProfileSetupBranch .containerCustomersCustomersButtons{
    margin-left: 25px !important;
}
.containerProfileSetupBranch input{
    outline: none;
}
.containerProfileSetupName{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerProfileSetupLogo{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfileSetupLogo button{
    margin-top: 25px;
    margin-left: 15px;
}
.containerProfileSetupAddress{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfileSetupCity{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfileSetupZip{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfileSetupState{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfileSetupContactPerson{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfileSetupPhone{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfileSetupEmail{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfileSetupCommonInputs{
    width: 1208px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 152px;
    border-left: 4px solid #038296;
    border-bottom: 4px solid #038296;
    padding-left: 51px;
    margin-bottom: 50px;
}
.containerProfileSetupCommonInputs p{
    width: 200px;
    padding-left: 20px;
}
.containerProfileSetupCommonInputs input{
    height: 43px;
    width: 48.51%;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: right;
    opacity: 40%;
    outline:none;
}
