.contentColor{
    width: 100%;
    display: flex;
}
.containerCommonColor{
    width: 100%;
    display: flex;
    font-size: 24px;
}
.containerCommonColorInputs{
    position: relative;
    width: 1208px;
    margin-top: 152px;
    display: flex;
    flex-direction: column;
    border-left: 4px solid #038296;
    border-bottom: 4px solid #038296;
    padding-left: 72px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.containerCommonColorInputs input{
    outline: none;
}
.containerCommonColorInputs p{
    width: 230px;
}
.containerCommonColorInputs label{
    margin-left: 5px;
}
.containerCommonColor input{
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
}
.textMaterialMenuSetup{
    font-weight: bold;
}
.containerColorMenuColor{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerNameColor{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerNameColor input{
    height: 43px;
    width: 48.51%;
    min-width: 450px;
    font-size: 24px;
    text-align: right;
}
.containerColorMenuSetupLongInputs{
    display: flex;
    flex-direction: column;
}
.containerColorMenuSetupShortInputs{
    height: auto;
    display: flex;
    flex-direction: column;
}
.containerWhiteColor{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCyanColor{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerMagentaColor{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerYellowColor{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerBlackColor{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerPantoneXColor{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerPantoneYColor{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerPantoneZColor{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerTotalCoverageColor{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerTotalCoverageColors{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerWhiteInput input{
    height: 43px;
    width: 30%;
    font-size: 24px;
    text-align: right;
}
.containerWhiteAverageUsage input{
    height: 43px;
    width: 18.64%;
    font-size: 24px;
    text-align: right;
}
.containerWhiteAverageUsage p{
    width: 175px;
}
.containerWhiteColorCheckbox{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerWhiteAverageUsage{
    position: relative;
    right: 135px;
    display: flex;
    height: 43px;
    align-items:center;
}
.containerWhiteColorCheckbox input{
    height: 24px;
    width: 24px;
}
.containerCyanInput input{
    height: 43px;
    width: 30%;
    font-size: 24px;
    text-align: right;
}
.containerMagentaInput input{
    height: 43px;
    width: 30%;
    font-size: 24px;
    text-align: right;
}
.containerYellowInput input{
    height: 43px;
    width: 30%;
    font-size: 24px;
    text-align: right;
}
.containerBlackInput input{
    height: 43px;
    width: 30%;
    font-size: 24px;
    text-align: right;
}
.containerPantoneXInput input{
    height: 43px;
    width: 30%;
    font-size: 24px;
    text-align: right;
}
.containerTotalCoverageColors p{
    width: 285px;
}
.containerTotalCoverageColors input{
    height: 43px;
    width: 19.142%;
    font-size: 24px;
    text-align: right;
}
.containerCommentColor{
    display: flex;
    margin-top: 30px;
}
.containerCommentColor p{
    margin-top: 0px;
}
.containerCommentColor textarea{
    height: 104px;
    width: 48.51%;
    resize: none;
    font-size: 24px;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
}
.containerButtonSaveColor{
    position: absolute;
    display: flex;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.containerButtonSaveColor button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
