.contentAdministrator{
    width: auto;
    display: flex;
}
.containerInputCSRs p{
    width: 235px;
}
.containerCommonAdministrator{
    width: 100%;
    display: flex;
}
.containerAdministratorAdministrators{
    display: flex;
    height: 43px;
    align-items: center;
}
.textAdministrator{
    font-size: 24px;
    font-weight: bold;
}
.textAdministrator p{
    margin-top: 0px;
    width: 400px;
}
.containerNameAdministrators{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCorrectAlignItems{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 10px;
}
.containerAddressAdministrators{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerEmptyAdministrators{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCityAdministrators{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerZipAdministrators{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerStateAdministrators{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerPhoneAdministrators{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerEmailAdministartors{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.saveButtonAdministrator{
    height: 42px;
    width: 187px;
}
.saveButtonAdministrator button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
}
