.containerLogoMenu{
    display: flex;
    max-width:1920px;
    width: 100%;
    margin: auto;
}
.containerLogoBack{
    display: flex;
    flex-direction: column;
}
.containerApp{
    margin:auto; 
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
    
}