.textMaterialMenuSurfaceFinishing{
    position: relative;
}
.textMaterialMenuSurfaceFinishing p{
    font-size: 24px;
    font-weight: bold;
}
.containerSurfaceFinishingLongInputs{
    display: flex;
    flex-direction: column;
}
.containerSurfaceFinishingName{
    height: 43px;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.containerSurfaceFinishingName input{
    min-width: 450px !important;
}
.containerSurfaceFinishingName p{
    width: 230px !important;
}
.containerSurfaceFinishingShortInputs{
    display: flex;
    flex-direction: column;
}
.containerSurfaceFinishingShortInputs p{
    width: 230px !important;
}
.containerSurfaceFinishingShortInputs input{
    height: 43px;
    width: 14.901%;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 24px;
    text-align: right;
    opacity: 40% !important;
}
.containerSurfaceFinishingWidth{
    height: 43px;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.containerSurfaceFinishingLength{
    height: 43px;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.containerSurfaceFinishingThickness{
    height: 43px;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.containerSurfaceFinishingWeight{
    height: 43px;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.containerSurfaceFinishingWaste{
    height: 43px;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.containerSurfaceFinishingCost{
    height: 43px;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.containerSurfaceFinishingSetupCharge{
    height: 43px;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.containerSurfaceFinishingProfitPerMsi{
    height: 43px;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.containerCommentSurfaceFinishing{
    margin-top: 20px;
    display: flex;
}
.containerCommentSurfaceFinishing P{
    margin-top: 0px;
}
.containerCommentSurfaceFinishing textarea{
    height: 104px;
    width: 48.51%;
    min-width: 450px !important;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.saveButtonSurface{
    position: absolute;
    height: 42px;
    width: 187px;
    bottom: 0;
    right: 0;
}
.saveButtonSurface button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}
.containerCommonSurfaceFinishing{
    width: 100%;
    display: flex;
}
.contentSurfaceFinishing{
    display: flex;
}
.containerSurfaceFinishingInputFinishing{
    height: 43px;
    align-items: center;
    display: flex;
}
.containerSurfaceFinishingInputFinishing p{
    width: 230px !important;
}
.containerSurfaceFinishingCommonInputs{
    height: 860px;
    width: 1104px;
    padding-left: 3.8%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    border-bottom: 4px solid #038296;
    font-size: 24px;
    padding-bottom: 50px;
}
.containerSurfaceFinishingShortInputs label{
    padding-left: 10px;
}
.containerSurfaceFinishingCommonInputs p{
    width: 233px;
    margin-top: 10px;
}
.containerSurfaceFinishingLongInputs input{
    height: 43px;
    width: 48.51%;
    margin-top: 0px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 24px;
    text-align: right;
    opacity: 40%;
}
