.contentRollParameter{
    width: 100%;
    display: flex;
}
.textRollParameter{
    font-weight: bold;
    border-left: 4px solid #960303;
}
.containerCustomersRollParametersButtons{
    position: relative;
    right: -4px;
    display: flex;
}
.containerCustomersRollParametersButtons button{
    height: 27px;
    width: 27px;
    border: none;
    background-color: black;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-color: white;
    outline: none;
    margin-left: 14px;
}
.containerCustomersRollParametersButtons button img{
    height: 27px;
    width: 27px;
}
.containerRollParametersFirstInputSection{
    width: 82%;
    display: flex;
    flex-direction: column;
    border-left: 4px solid #960303;
}
.containerRollParametersFirstInputSection input{
    width: 22.338% !important;
}
.containerRollParametersFirstInputSection p{
    width: 215px;
}
.containerRollFinishingRollParameters{
    width: 97.5%;
    display: flex;
    height: 43px;
    align-items: center;
}
.containerRollFinishingRollParameters p{
    min-width: 215px !important;
}
.containerRollFinishingSelect{
    position: relative;
    display: flex;
    width: 60.478%;
}
.containerRollFinishingSelect input{
    width: 100% !important;
}
.containerRollFinishingSelects{
    width: 100% !important;
}
.containerNameRollParameters input{
    height: 43px;
    width: 97.499% !important;
    display: flex;
}
.containerNameRollParameters{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerRollFinishingInput{
    width: 60.684%;
}
.containerCost{
    display: flex;
}
.containerSetupCharge{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerRollParametersFirstShortInputSection{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
.containerRollParametersFirstShortInputSection p{
    width: 230px;
}
.containerRollParametersFirstShortInputSection input{
    height: 41px;
    width: 14.901%;
}
.containerPrefitPerData{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.css-yk16xz-control{
    width: 81.128% !important;
}
.containerRollParametersComments{
    display: flex;
    margin-top: 20px;
}
.containerRollParametersComments p{
    width: 230px;
    margin-top: 0px;
}
.containerRollParametersComments textarea{
    height: 104px;
    width: 48.51%;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.xx{
    display: flex;
}
.containerRollParametersLabelDirectionInputSection{
    width: 82%;
    min-width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 4px solid #960303;
    border-bottom: 4px solid #960303;
    padding-bottom: 46px;
    padding-top: 48px;
}
.containerRollParametersLabelDirectionInputSection p{
    width: 215px;
}
.containerRollParametersLabelDirectionInputSection input{
    height: 43px;
    width: 60%;
}
.containerRollParametersLabelsPerRoll input{
    height: 43px;
    width: 48.51%;
}
.containerRollParametersMaximumOd input{
    height: 43px;
    width: 48.51%;
}
.containerLabelDirection{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerLabelDirection p{
    width: 230px !important;
}
.containerNameLabelDirection{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerNameLabelDirection p{
    width: 230px;
}
.containerIconImageLabelDirection{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerIconImageLabelDirection p{
    width: 230px !important;
}
.containerIconImageLabelDirection button{
    height: 36px;
    width: 140px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    margin-top: 5px;
    margin-left: 22px;
    outline: none;
    cursor: pointer;
}
.conatinerCommentsLabelDirection{
    display: flex;
    margin-top: 20px;
}
.conatinerCommentsLabelDirection p{
    width: 230px;
    margin-top: 0px;
}
.conatinerCommentsLabelDirection textarea{
    height: 104px;
    width: 48.51%;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.containerRollParametersLabelsPerRoll{
    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 4px solid #960303;
    padding-top: 65px;
    padding-bottom: 46px;
}
.containerRollParametersLabelsPerRoll p{
    width: 215px;
}
.containerLabelsPerRollRollParameter{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerLabelsPerRollRollParameter p{
    width: 230px !important;
}
.containerNameLabelsPerRollRollRollParameter{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerNameLabelsPerRollRollRollParameter p{
    width: 230px;
}
.containerSetupChargeLabelsPerRollRollRollParameter {
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerSetupChargeLabelsPerRollRollRollParameter p{
    width: 230px;
}
.containerSetupChargeLabelsPerRollRollRollParameter input{
    height: 43px;
    width: 14.901%;
}
.containerProfitLabelsPerRollRollRollParameter input{
    height: 43px;
    width: 14.901%;
}
.containerProfitLabelsPerRollRollRollParameter{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
}
.containerProfitLabelsPerRollRollRollParameter p{
    width: 230px;
}
.containerCommentsLabelsPerRollRollRollParameter{
    display: flex;
    font-size: 24px;
    margin-top: 20px;
}
.containerCommentsLabelsPerRollRollRollParameter p{
    width: 230px;
    margin-top: 0px;
}
.containerCommentsLabelsPerRollRollRollParameter textarea{
    height: 104px;
    width: 48.51%;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.containerRollParametersMaximumOd{
    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 4px solid #960303;
    padding-top: 65px;
    padding-bottom: 46px;
}
.containerRollParametersMaximumOd p{
    width: 215px;
}
.containerMaximumOdRollParameter{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
}
.containerMaximumOdRollParameter p{
    width: 230px !important;
}
.containerNameMaximumOdRollParameter{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
}
.containerNameMaximumOdRollParameter p{
    width: 230px;
}
.containerDefaultMaxOdRollParameter{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
}
.containerDefaultMaxOdRollParameter p{
    width: 230px;
}
.containerDefaultMaxOdRollParameter input{
    height: 43px;
    width: 14.901%;
}
.containerCommentsMaximumOdRollParameter{
    display: flex;
    font-size: 24px;
    margin-top: 20px;
}
.containerCommentsMaximumOdRollParameter p{
    width: 230px;
    margin-top: 0px;
}
.containerCommentsMaximumOdRollParameter textarea{
    height: 104px;
    width: 48.51%;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.containerCostRollFinishingLast input{
    height: 43px;
    width: 14.901%;
}
.SetupChargeRollFinishingLast input{
    height: 43px;
    width: 14.901%;
}
.containerProfitPerDataRollFinishingLast input{
    height: 43px;
    width: 14.901%;
}
.containerCommentsRollFinishingLast textarea{
    height: 104px;
    width: 48.51%;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.containerNameRollFinishingLast input{
    height: 43px;
    width: 48.51%;
}
.containerNameCoreDiameterRollParameter input{
    height: 43px;
    width: 48.51%;
}
.containerCostCoreDiameterRollParameter input{
    height: 43px;
    width: 14.901%;
}
.containerCoreDiameterRollParameterInputs{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    border-left: 4px solid #960303;
    padding-top: 65px;
    padding-bottom: 46px;
}
.containerCoreDiameterRollParameterInputs p{
    width: 215px;
}
.containerCoreDiameterRollParameter{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerCoreDiameterRollParameter p{
    width: 230px !important;
}
.containerNameCoreDiameterRollParameter{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerNameCoreDiameterRollParameter p{
    width: 230px;
}
.containerCostCoreDiameterRollParameter{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCostCoreDiameterRollParameter p{
    width: 230px;
}
.containerCommentsCoreDiameterRollParameter{
    display: flex;
    margin-top: 20px;
}
.containerCommentsCoreDiameterRollParameter p{
    width: 230px;
    margin-top: 0px;
}
.containerCommentsCoreDiameterRollParameter textarea{
    height: 104px;
    width: 48.51%;
    resize: none;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    font-family: 'Regular';
    outline: none;
    font-size: 24px;
}
.containerRollFinishingLastInputs{
    width: 99.67%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding-top: 65px;
}
.redHorizontalLine{
    margin-top: 50px;
    height: 0;
    width: 100%;
    border: 2px solid #960303;
}
.containerRollFinishingLastInputs p{
    width: 215px;
}
.buttonSaveLabelDirection {
    display: flex;
    bottom: 10px;
}
.buttonSaveLabelDirection button{
    position: absolute;
    right: 0;
    height: 36px;
    width: 140px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #960303;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 28.5px;
}
.containerRollFinishingLast{
    display: flex;
    height: 43px;
    align-items: center;
}
.containerRollFinishingLast p{
    width: 230px !important;
}
.containerNameRollFinishingLast{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerNameRollFinishingLast p{
    width: 230px;
}
.containerCost{
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCostRollFinishingLast{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerCostRollFinishingLast p{
    width: 230px;
}
.SetupChargeRollFinishingLast{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.SetupChargeRollFinishingLast p{
    width: 230px;
}
.containerProfitPerDataRollFinishingLast{
    display: flex;
    height: 43px;
    align-items: center;
    margin-top: 20px;
}
.containerProfitPerDataRollFinishingLast p{
    width: 230px;
}
.containerCommentsRollFinishingLast{
    display: flex;
    margin-top: 20px;
}
.containerCommentsRollFinishingLast p{
    width: 230px;
    margin-top: 0px;
}
.containerCommonRollParameter{
    width: 100%;
    display: flex;
}
.containerCommonRollParameter input{
    opacity: 40%;
}
.containerCommonRollParameter label{
    margin-top: 5px;
    margin-left: 15px;
}
.containerRollParameterCommonInputs{
    width: 1212px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 152px;
    border-left: 4px solid #038296;
    border-bottom: 4px solid #038296;
    padding-left: 51px;
    padding-bottom: 50px;
    margin-bottom: 60px;
}
.containerRollParameterCommonInputs p{
    margin-left: 20px;
}
.containerRollParameterCommonInputs input{
    border: 1px solid black;
    border-radius: 8px;
    opacity: 40%;
    outline: none;
    font-size: 24px;
    text-align: right;
}
.containerButtonSaveRollParameter{
    display: flex;
    height: 42px;
    width: 187px;
    margin-left: 88%;
}
.containerButtonSaveRollParameter button{
    height: 42px;
    width: 187px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-family: Regular;
    border: 1px solid #707070;
    border-radius: 28px;
    background-color: #038296;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-top: 72px;
}
