.containerCommonProduct {
  display: flex;
  width: 100%;
}
.contentProduct {
  width: 100%;
  display: flex;
}
.textProduct {
  height: 100px;
  width: 267px;
  display: flex;
  border-bottom: 4px solid #038296;
  margin-top: 52px;
  margin-left: 35px;
}
.textProduct p {
  font-size: 40px;
  font-weight: bold;
  color: #707070;
  margin-top: 30px;
  margin-left: 50px;
} 
.textProductMenu p {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
.textProductMenuSetup p {
  margin-top: 0px;
  font-size: 24px;
  font-weight: bold;
}
.containerProductMenuSetup {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}
.containerProductMenuSetup p {
  width: 230px;
}
.containerNameProduct {
  height: 43px;
  align-items: center;
  display: flex;
  margin-top: 20px;
}
.containerProductMenuSetup input {
  height: 43px;
  width: 48.51%;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 40%;
  min-width: 450px;
}
.textLabelSpecifications {
  font-size: 24px;
}
.textLabelSpecifications p {
  font-weight: bold;
}
.containerLabelSpecifications {
  display: flex;
  flex-direction: column;
}
.containerLabelSpecifications p {
  width: 230px;
  font-size: 24px;
}
.containerMaterialTypes {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
}
.containerShapeTypes {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerColor {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerPicture {
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerPicture p {
  width: 230px;
}
.containerPicture input {
  height: 43px;
  width: 48.51%;
  min-width: 450px;
  opacity: 40%;
}
.buttonBrowseLabelSpecification {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.buttonBrowseLabelSpecification button {
  height: 36px;
  width: 140px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Regular;
  border: 1px solid #707070;
  border-radius: 28px;
  background-color: #038296;
  text-align: center;
  margin-top: 3px;
  outline: none;
  cursor: pointer;
}
.containerLabelSpecificationsPicture {
  height: 525px;
  width: 48.51%;
  min-width: 450px;
  border: 1px solid #707070;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 230px;
}
.containerLabelSpecificationsPicture img {
  height: 100%;
  width: 100%;
}
.containerCommentsProduct {
  display: flex;
  margin-top: 20px;
}
.containerCommentsProduct textarea {
  height: 255px;
  width: 48.51%;
  min-width: 450px;
  resize: none;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 40%;
  font-family: 'Regular';
  outline: none;
  font-size: 24px;
}
.containerCommentsProduct p {
  margin-top: 0px;
  font-size: 24px;
}
.textLabelOptions p {
  width: 200px;
}
.containerLabelOptions {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.containerLabelOptions p {
  width: 230px;
  font-size: 24px;
}
.containerLabelOptions select {
  border: 1px solid black;
  border-radius: 8px;
}
.containerSurfaceFinishing {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
}
.containerSpotUvVarnish {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerFoilStamping {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerVariableData {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerPictureProduct {
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerPictureProduct input {
  height: 43px;
  width: 48.51%;
  min-width: 435px;
  opacity: 40%;
}
.containerbuttonBrowseLabelOptions {
  display: flex;
  flex-direction: column;
}
.containerbuttonBrowseLabelOptions button {
  height: 36px;
  width: 140px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Regular;
  border: 1px solid #707070;
  border-radius: 28px;
  background-color: #038296;
  text-align: center;
  margin-top: 3px;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
}
.containerLabelOptionsRectagle {
  height: 525px;
  width: 100%;
  margin-top: 20px;
  margin-left: 230px;
}
.containerLabelOptionsRectagle img {
  height: 100%;
  width: 48.51%;
  min-width: 435px;
}
.containerCommentsLabelLocations {
  display: flex;
  margin-top: 25px;
}
.containerCommentsLabelLocations textarea {
  height: 255px;
  width: 48.51%;
  min-width: 435px;
  resize: none;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 40%;
  font-family: 'Regular';
  outline: none;
  font-size: 24px;
}
.containerCommentsLabelLocations input::placeholder{
  padding-left: 20px;
}
.containerCommentsLabelLocations p {
  margin-top: 0px;
  font-size: 25px;
}
.textRollParameters p {
  width: 200px;
  bottom: 165px;
}
.containerRollParameters {
  display: flex;
  flex-direction: column;
}
.containerRollParameters p {
  width: 230px !important;
}
.containerRollFinishing {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
}
.containerRollFinishing p {
  font-size: 24px;
  width: 200px;
}
.containerLabelDirection {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerLabelDirection p {
  font-size: 24px;
  width: 200px;
}
.containerLabelsPerRoll {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerLabelsPerRoll p {
  font-size: 24px;
  width: 200px;
}
.containerLabelsPerStack {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerLabelsPerStack p {
  font-size: 24px;
  width: 200px;
}
.containerMaximumOd {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerMaximumOd p {
  font-size: 24px;
  width: 200px;
}
.containerCoreDiameter {
  position: relative;
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerCoreDiameter p {
  font-size: 24px;
  width: 200px;
}
.containerPicturePicture {
  display: flex;
  height: 43px;
  align-items: center;
  margin-top: 20px;
}
.containerPicturePicture input {
  height: 43px;
  width: 48.51%;
  min-width: 435px;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 40%;
}
.containerPicturePicture p {
  font-size: 24px;
}
.containerbuttonBrowsePicture {
  display: flex;
  flex-direction: column;
}
.containerbuttonBrowsePicture button {
  height: 36px;
  width: 140px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Regular;
  border: 1px solid #707070;
  border-radius: 28px;
  background-color: #038296;
  text-align: center;
  margin-top: 5px;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
}
.containerRollParametersPicture {
  height: 525px;
  width: 48.51%;
  min-width: 435px;
  margin-left: 230px;
  border: 1px solid #707070;
  border-radius: 8px;
  margin-top: 20px;
}
.containerRollParametersPicture img {
  height: 100%;
  width: 100%;
}
.containerCommentRollFinishing {
  margin-top: 20px;
  display: flex;
}
.containerCommentRollFinishing p {
  width: 200px;
  font-size: 24px;
  margin-top: 0px;
}
.containerCommentRollFinishing textarea {
  height: 255px;
  width: 48.51%;
  min-width: 435px;
  resize: none;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 40%;
  font-family: 'Regular';
  outline: none;
  font-size: 24px;
}
.textQuantities p {
  width: 200px;
  font-size: 24px;
  font-weight: bold;
}
.containerQuantities {
  display: flex;
  flex-direction: column;
}
.containerProductMenu {
  display: flex;
}
.containerProductMenu p {
  width: 230px;
  font-size: 24px;
}
.containerProductMenuInputs {
  display: flex;
  flex-direction: column;
}
.containerProductMenu input {
  height: 43px;
  width: 73.435%;
  margin-top: 24px;
  margin-left: 85px;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 40%;
}
.containerQuantities {
  margin-top: 20px;
}
.containerPictureQuantities {
  display: flex;
  margin-top: 20px;
}
.containerPictureQuantities p {
  width: 230px;
  font-size: 24px;
  margin-top: 0px;
}
.containerPictureQuantities input {
  height: 43px;
  width: 48.51%;
  min-width: 435px;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 40%;
}
.containerbuttonBrowseLabelQuantities {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.containerbuttonBrowseLabelQuantities button {
  height: 36px;
  width: 140px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Regular;
  border: 1px solid #707070;
  border-radius: 28px;
  background-color: #038296;
  text-align: center;
  margin-top: 3px;
  outline: none;
  cursor: pointer;
}
.containerQuantitiesPicture {
  height: 525px;
  width: 48.51%;
  min-width: 435px;
  border: 1px solid #707070;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 230px;
}
.containerProductMenuInputs button {
  position: relative;
  margin-top: 38px !important;
  left: 35px;
}
.containerProductMenuInputsFirst {
  display: flex;
}
.containerProductMenuInputsSecond {
  display: flex;
}
.containerProductMenuInputsThirdy {
  display: flex;
}
.containerQuantitiesPicture img {
  height: 100%;
  width: 100%;
}
.containerCommentsQuantities {
  display: flex;
  margin-top: 20px;
}
.containerCommentsQuantities textarea {
  height: 255px;
  width: 48.51%;
  min-width: 435px;
  resize: none;
  border: 1px solid black;
  border-radius: 8px;
  opacity: 40%;
  font-family: 'Regular';
  outline: none;
  font-size: 24px;
}
.containerCommentsQuantities p {
  width: 230px;
  font-size: 24px;
  margin-top: 0px;
}
.containerOrderData {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.textOrderData p {
  width: 200px;
  font-size: 24px;
  font-weight: bold;
}
.containerJobName {
  display: flex;
}
.SelectCheckbox{
  height: 24px;
  width: 24px;
}
.containerSurfaceFinishingSelect{
  width: 47%;
  margin-left: 10px;
}
.containerOrderDataSelect{
  margin-left: 10px;
  width: 43.5%;
}
.containerSelectImages input{
  
} 
.SelectButton{
    border: none;
    background-color: black;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-color: white;
}
.containerJobName input {
  margin-top: 8px;
  height: 24px;
  width: 24px;
}
.containerJobName p {
  width: 230px;
  margin-top: 0px;
  font-size: 24px;
}
.containerProductionSampleProduct {
  position: relative;
  display: flex;
}
.containerProductionSampleProduct p {
  width: 230px;
  margin-top: 5px;
  font-size: 24px;
}
.containerProductionSampleProduct input {
  height: 24px;
  width: 24px;
  margin-top: 10px;
  margin-left: 49px;
}
.containerArtworkProduct {
  display: flex;
}
.containerArtworkProduct p {
  width: 230px;
  font-size: 24px;
}
.containerShoppingMethodSelect {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  width: 66.2%;
}
.containerArtworkProduct input {
  height: 24px;
  width: 24px;
  margin-top: 32px;
  margin-left: 135px;
  border: 1px solid black;
  border-radius: 8px;
}
.containerMaxArtwork {
  display: flex;
  margin-left: 10px;
}
.containerMaxArtwork p {
  width: 200px;
}
.containerArtworkDefault p {
  width: 114px;
}
.containerMaxArtwork input {
  height: 43px;
  width: 92px;
  margin-top: 20px;
  opacity: 40%;
}
.containerArtworkDefault {
  display: flex;
}
.containerArtworkDefault p {
  margin-left: 50px;
}
.containerArtworkDefault input{
  width: 92px;
  opacity: 40%;
}
.containerShoppingMethod {
  position: relative;
  display: flex;
}
.containerShoppingMethod p {
  width: 228px !important;
  font-size: 24px;
  margin-top: 46px;
}
.containerShoppingMethod input {
  height: 24px;
  width: 28.97px;
  margin-top: 50px;
  margin-left: 52px;
}
.containerShoppingMethodSecondSelect select {
  border: 1px solid black;
  border-radius: 8px;
}
.containerSelectIconShoppingMethod {
  height: 43px;
  align-items: center;
  display: flex;
  margin-top: 42px;
}
.containerSelectSecondIconShoppingMethod{
  height: 43px;
  margin-top: 50px;
  align-items: center;
  display: flex;
}
.containerSelectSecondIconShoppingMethod input{
  margin-top: 0px;
}
.containerSelectIconShoppingMethod input{
  margin-top: 0px;
}
.contanerNotes {
  display: flex;
}
.contanerNotes p {
  width: 230px;
  font-size: 24px;
}
.contanerNotes input {
  height: 24px;
  width: 24px;
  margin-top: 32px;
  margin-left: 180px;
}
.textLabelOptions {
  font-size: 24px;
}
.textLabelOptions p {
  font-weight: bold;
}
.textRollParametersProduct {
  margin-top: 80px;
  font-size: 24px;
}
.textRollParametersProduct p {
  font-weight: bold;
}
.containerBackProduct {
  max-height: 48px;
  max-width: 190px;
  margin-left: 52px;
  margin-top: 20px;
}
.containerBackProduct button {
  height: 48px;
  width: 190px;
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-family: Regular;
  border: 1px solid #707070;
  border-radius: 28px;
  background-color: #038296;
  text-align: center;
}
.containerCommonProductInputs {
  position: relative;
  width: 1208px;
  display: flex;
  flex-direction: column;
  border-left: 4px solid #038296;
  border-bottom: 4px solid #038296;
  margin-top: 152px;
  padding-left: 72px;
}
.containerCommonProductInputs input {
  margin-left: 0px;
  font-size: 24px;
  text-align: right;
  border: 1px solid black;
  border-radius: 8px;
  outline: none;
}
.containerProductTextLine {
  margin-left: 35px;
}
.containerProductMenuProduct {
  display: flex;
  height: 43px;
  align-items: center;
}
.containerbuttonSaveProducts {
  position: absolute;
  display: flex;
  height: 42px;
  width: 187px;
  bottom: 0;
  right: 0;
}
.containerbuttonSaveProducts button {
  height: 42px;
  width: 187px;
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-family: Regular;
  border: 1px solid #707070;
  border-radius: 28px;
  background-color: #038296;
  text-align: center;
  outline: none;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
}
.containerSelectImages {
  height: 32.5px;
  position: absolute;
  left: 170px;
  padding-top: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
  opacity: 80%;
}
.css-1pahdxg-control{
  max-width: 586px !important;
}
.css-2b097c-container.css-yk16xz-control{
  border: none !important;
}
.containerProductionSampleSelectIcons{
  margin-left: 10px;
}
.containerhoppingMethodSelect{
  margin-left: 10px;
  width: 43.5%;
}
.containerhoppingMethodSecondSelect{
  margin-left: 5px;
  width: 66%;
}
.cursorMoveTopProduct{
    text-align: left !important;
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 200px;
}
